.advantages {
    min-height: 470px;
    padding: 70px 0 78px 0;
    background-color: #f6f6f6;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 65px;
    }
    &__item {
        width: 237px;
        text-align: center;
        color: #0d0d0d;
    }
    img {
        width: 70px;
    }
    &__subtitle {
        margin-top: 48px;
        font-size: 18px;
        font-weight: 500;
    }
    &__descr {
        margin-top: 26px;
        font-size: 14px;
        font-weight: 300;
    }
    span {
        color: #ff0000;
        text-decoration: underline;
    }
}