.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url('../img/bg/consultation-bg.jpg') center (center/cover) no-repeat;
    &__title {
        color: #ffffff;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 37px;
    }
    &__descr {
        margin-top: 80px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        border: none;
        text-align: center;
        margin-bottom: 15px;
        color: #fff;
    }
    
}