.footer {
    height: 630px;
    position: relative;
    &__info {
        padding: 50px 68px 60px 68px;
        position: absolute;
        width: 460px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: $main-color;
    }
    &__address {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        color: #fff;
    }
    &__phone {
        display: block;
        text-align: center;
        margin-top: 36px;
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
    &__social {
        margin: 0 auto;
        margin-top: 38px;
        width: 210px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}